body {
  background-color: black;
  color: white;
}

.card {
 
  background-color: rgba(255, 255, 255, 0.05); /* Slightly transparent white */
  border: 1px solid transparent; /* To maintain space for the shadow */
  border-radius: 10px; /* Adjust border-radius as needed */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);  /* White shadow effect */
}